@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Courier+Prime&family=Fira+Sans&display=swap');

body {
    background-color: #FFA83D;
    color: white,
}

h1 {
    font-family: 'Alfa Slab One';
    color: black;
    font-size: 6rem;
    margin-bottom: 0;
}

h4 {
    font-family: 'Fira Sans';
    margin-top: 0;
    font-size: 2rem;
}

p {
    font-family: 'Fira Sans';
}
